
{{!-- html I was going to use but changed routes and went a different direction --}}
<li>
	{{type}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}Devour{{else}}Save{{/if}}
	</button>
	<button class="delete-burger" data-id="{{this.id}}">Delete Burger</button>
</li>